<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loanwalle.loanwallecollection">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/loanwlee"
        android:label="@string/app_name"
        android:roundIcon="@drawable/loanwlee"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.LoanwalleCollection.NoActionBar"
        tools:ignore="MissingClass">
        <activity
            android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.Upload_Document"
            android:exported="true">

        </activity>
        <activity
            android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.Covence_Report"
            android:exported="true" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.OfficeAddressActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.CollectionActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.ResestActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.VerifyOTPActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.ForgotPasswordActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.PaymentActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.RemarksActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.ResidanceActivity">

        </activity>
        <activity
            android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.Verification"
            android:exported="true" />
        <activity
            android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.PreviousPayment"
            android:exported="true" />
        <activity
            android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.Total_Leads"
            android:exported="true" />
        <activity
            android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.Recovery_Address"
            android:exported="true" />
        <activity
            android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.Collection_Profile"
            android:exported="true" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.UnlockActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.DocumentActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.LoanActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.CommanActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.LoanDetailActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.IRAActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.HomePageActivity" >



        </activity>
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.OtpActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.AadharCard" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.LoginActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.Navigation" />
        <activity android:name="com.loanwalle.loanwallecollection.utils.OTP.Auto_Otp" >



        </activity>
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.CurrentRecoveryAddressActivity" />
        <activity android:name="com.loanwalle.loanwallecollection.ui.main.view.Activity.SplashActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>